.graph {
    background: #fafafa;
    margin: 0.25rem;
    width: 100%;
    height: 500px;

    .graph__container {
        max-height: 375px;
        background: white;
    }

    .graph__filter {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1.5rem;

        .filters__wrapper {
            display: flex;

            .filters__item {
                padding: 0rem 0.75rem;
                margin: 0.75rem 0.25rem;
                font-size: 18px; 
                color: #777;
                cursor: pointer;
            }

            .active {
                color: #6579f7;
                font-weight: 700;
            }

            .filters__item:hover {
                transform: translateY(-2px);
            }

        }
    }
}

.graph:hover {
    transform: translateY(-5px); 
}

@media screen and (max-width:  840px) {
    .graph {
        .graph__filter {

            .filters__wrapper {
                justify-content: center;
                padding-bottom: 1.25rem;
            }
        }
    }
}