.settings {
    background: #F8FAFC;
    width: 65%;
    padding: 2rem 6rem;
    margin: auto;
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .user__form {
        margin-top: 1rem;
        // display: flex;
        width: 100%;
        // justify-content: space-around;
        input {
            width: 100% !important;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }
    }
}

@media screen and (max-width:768px) {
    .user__form {
        margin-top: 1rem;
        input {
            max-width: 350px !important;
            margin-top: 0.5rem;
        }
    }

    .settings {
        width: 100%;
        padding: 1rem 2rem;
        .user__form {
            margin-top: 1rem;
            // display: flex;
            width: 100%;
            // justify-content: space-around;
            input {
                width: 100% !important;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
        }
    }

    .settings_dark {

        width: 100% !important;
        padding: 1rem 2rem !important;
        margin-top: 2rem !important;
        height: 100vh !important;
        .user__form {
            margin-top: 1rem;
            // display: flex;
            width: 100%;
            // justify-content: space-around;
            input {
                width: 100% !important;
                margin-top: 0.5rem;
                margin-bottom: 1rem;
            }
        }
    }
}

.settings_dark {
    background: #0d101f;
    width: 65%;
    padding: 2rem 6rem;
    margin: auto;
    height: auto !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .user__form {
        margin-top: 1rem;
        width: 100%;
        // display: flex;
        // justify-content: space-around;
        input {
            // width: 450px !important;
            width: 100%;
            margin-top: 0.5rem;
            margin-bottom: 1rem;
        }
    }
}