.title {
    font-size: 18px;
    font-weight: 650;
}

.page__title {
    font-size: 32px;
    font-weight: 700;
}

.page__title_2 {
    font-size: 26px;
    font-weight: 600;
}

.page {
    margin: 1.25rem;
}

.interactive {
    cursor: pointer;
}

.interactive:hover {
    transform: translateY(-2px);
    text-decoration: underline;
}

.font-size-20 {
    font-size: 20px;
}